.Slider__Button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 55px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  padding: 0;
  margin: 40px 0;
  z-index: 4;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;

    span {
      color: rgb(192, 192, 192);
    }
  }

  span {
    width: 25px;
    color: #fff;
    display: block;
    margin: 0 auto;
  }

  &__Next {
    right: 0;

    span {
      transform: rotateZ(-90deg);
    }
  }

  &__Prev {
    left: 0;

    span {
      transform: rotateZ(90deg);
    }
  }
}
